body{
    background-color: #213239;
}
.timer {
  border: 2px solid black;
  padding: 20px 40px;
  margin: 10px;
}

.card.active , .card.active:hover {
  border: 2px solid greenyellow;
  background-color: #adff2f;
  color: #39560f;
}

.card:hover {
  background-color: #d8d8d8;
  border: 2px solid #dfe0de;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.card-body label {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 10px;
  
}

.card-body span {
  font-weight: 700;
}


input.form-control {
    background-color: #acc4cf;
}
input.form-control:focus {
    background-color: #acc4cf;
}

@media screen and (max-width: 768px) {
    .card:hover {
        background-color: #adff2f;
        border: 2px solid #adff2f;
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
      }
}